body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #1c1c1c;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.titulo {
    color: #feb300;
    margin-bottom: 25px;
    font-size: 2.2em;
    font-weight: 700;
}

.frase-container {
    font-size: 1.3em;
    color: #feb300;
    margin-bottom: 15px;
    padding: 20px 25px;
    border-top: 2px solid rgba(254, 179, 0, 0.4);
    border-bottom: 2px solid rgba(254, 179, 0, 0.4);
}

.frase {
    font-style: italic;
    margin-bottom: 15px; /* Más espacio debajo de la frase antes de la explicación */
}

/* Estilos para la explicación, siempre visible */
.explicacion {
    font-size: 0.9em; /* Un poco más pequeña que la frase */
    color: #feb300; /* Color de texto claro para el fondo oscuro */
    text-align: center;
    line-height: 1.6;
    margin-top: 10px; /* Separación de la frase */
    padding: 10px 0; /* Un poco de padding interno */
    border-top: 1px solid rgba(254, 179, 0, 0.1); /* Separador sutil */
}

/* Estilos para hacerlo Responsive */
@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    .titulo {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .frase-container {
        font-size: 1.1em;
        padding: 15px 20px;
    }

    .explicacion {
        font-size: 0.85em;
        padding: 8px 0;
    }
}